### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.columns

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# calculate the total players getting a series containing counts of unique players and then the length
players_count = len(purchase_data["SN"].value_counts())

# define column heading and count to display result
total_players = {"Total Players":[players_count]}

# make into them into df
total_players_df = pd.DataFrame(total_players)
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# make array of unique Item IDs
unique_items = purchase_data["Item ID"].unique()

# analyse the data 
count_unique_items = len(unique_items)
average_price = purchase_data["Price"].mean()
number_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

# make summary dataframe to display result
summary_df = pd.DataFrame({"Number Unique Items":[count_unique_items], 
                           "Average Price":[average_price], 
                           "Number of Purchases":[number_purchases], 
                           "Total Revenue":[total_revenue]
                          })

# format data frame results
summary_df = summary_df.style.format({"Average Price":"${:.2f}",  
                                       "Total Revenue":"${:.2f}"
                                     })
summary_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Goup data by Gender
gender_group = purchase_data.groupby("Gender")

# analyse the grouped data 
gender_counts = gender_group.nunique()["SN"]
gender_percentage = gender_counts/players_count

# create a data frame to display results and rename the columns
gender_summary = pd.merge(gender_counts, gender_percentage, how='outer', on='Gender')
gender_summary = gender_summary.rename(columns={"SN_x":"Total Count",
                                                "SN_y":"Percentage of Players"
                                                               })
# format the results
gender_summary = gender_summary.style.format({"Percentage of Players": "{:.2%}"
                                                             })
gender_summary


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Goup data by Gender
gender_group = purchase_data.groupby("Gender")

# analyse gender grouped
purchase_count = gender_group["Purchase ID"].count()
average_price = gender_group["Price"].mean()
average_sum = gender_group["Price"].sum()
average_person = average_sum / gender_counts

# Create analysis data frame with results
purchase_analysis_df = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": average_price,
                                    "Average Purchase Value": average_sum,
                                    "Avg Total Purchase per Person": average_person
                                   })
#format analysis
purchase_analysis_df = purchase_analysis_df.style.format({"Average Purchase Price":"${:.2f}",
                                                            "Average Purchase Value":"${:.2f}",
                                                            "Avg Total Purchase per Person":"${:.2f}"
                                                             })
purchase_analysis_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# set age bins and labels
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=age_group)

# analyse age demographics by binned ages
age_grouped = purchase_data.groupby("Age Group")
sum_agegrouped = age_grouped["SN"].nunique()
age_percentage = sum_agegrouped / players_count * 100

# Create data frame with results
age_analysis = pd.DataFrame({"Total Count": sum_agegrouped, 
                             "Percentage of Players": age_percentage
                            })

#format analysis
age_analysis = age_analysis.style.format({"Percentage of Players": "{:,.2f}%"})
age_analysis

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# # set age bins and labels
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=age_group)

#group data by age group by binned ages
age_grouped = purchase_data.groupby("Age Group")
purchase_age = age_grouped["Purchase ID"].count()
average_agegrouped = age_grouped["Price"].mean()
age_purchase = age_grouped["Price"].sum()
avg_byage = age_purchase/sum_agegrouped

# Create data frame to display results
purchaseage_summary = pd.DataFrame({"Purchase Count": purchase_age,
                                "Average Purchase Price": average_agegrouped,
                                "Total Purchase Value": age_purchase,
                                "Average Purchase Total per Person": avg_byage
                            })

#format results in data frame
purchaseage_summary = purchaseage_summary.style.format({"Average Purchase Price": "${:.2f}",
                                                         "Total Purchase Value":"${:.2f}",
                                                         "Average Purchase Total per Person": "${:.2f}"
                                         })
purchaseage_summary

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# group data by SN 
SN_grouped = purchase_data.groupby('SN')

# analyse data by the grouped data
count_SN = SN_grouped["Price"].count()
uniquecount_SN = SN_grouped["Price"].sum()
averageprice_SN = SN_grouped["Price"].mean()

# create data frame with results
topspenders_summary = pd.DataFrame({"Purchase Count": count_SN,
                                    "Average Purchase Price": averageprice_SN,
                                    "Total Purchase Value": uniquecount_SN
                                   })

# sort Total Purchase Value from highest to lowest 
topspenders_summary = topspenders_summary.sort_values(by=["Total Purchase Value"], ascending=False).head()

# format results in data frame
topspenders_summary = topspenders_summary.style.format({"Average Purchase Price": "${:.2f}",
                                                        "Total Purchase Value": "${:.2f}"
                                                       })
topspenders_summary

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# retrieve the coumns needed
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Calculate for item data
items_grouped = items.groupby(["Item ID","Item Name"])
items_count = items_grouped["Price"].count()
totalpurchase_value = (items_grouped["Price"].sum()) 
items_price = totalpurchase_value / items_count

# create new summary data frame with results
popularitems_summary = pd.DataFrame({"Purchase Count": items_count, 
                                    "Item Price": items_price,
                                    "Total Purchase Value": totalpurchase_value
                            })

popularitems_summary = popularitems_summary.sort_values(["Total Purchase Value"], ascending=False).head()

popularitems_summary.style.format({"Item Price":"${:,.2f}",
                                    "Total Purchase Value":"${:,.2f}"
                                })

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# sort the popular items data frame by descending
profitableitems_summary = popularitems_summary.sort_values(["Total Purchase Value"], ascending=False).head()

# format results data frame
profitableitems_summary.style.format({"Item Price":"${:,.2f}",
                                        "Total Purchase Value":"${:,.2f}"})